.label {
    -fx-font-family: Courrier New;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.combo-box {
    -fx-background-color: TRANSPARENT;
    -fx-font-size: 17;
}

.button {
    -fx-background-color: TRANSPARENT;
    -fx-font-family: Onyx;
    -fx-font-size: 30;
}